### Decision Trees
Hiring people or not gigen a fabricated dataset

In [1]:
import numpy as np
import pandas as pd
from sklearn import tree

In [3]:
# Load data
input_file = 'data/PastHires.csv'
df = pd.read_csv(input_file, header=0)

In [4]:
df.shape

(13, 7)

In [5]:
df

,Years Experience,Employed?,Previous employers,Level of Education,Top-tier school,Interned,Hired
0,10,Y,4,BS,N,N,Y
1,0,N,0,BS,Y,Y,Y
2,7,N,6,BS,N,N,N
3,2,Y,1,MS,Y,N,Y
4,20,N,2,PhD,Y,N,N
5,0,N,0,PhD,Y,Y,Y
6,5,Y,2,MS,N,Y,Y
7,3,N,1,BS,N,Y,Y
8,15,Y,5,BS,N,N,Y
9,0,N,0,BS,N,N,N
10,1,N,1,PhD,Y,N,N
11,4,Y,1,BS,N,Y,Y
12,0,N,0,PhD,Y,N,Y

In [6]:
df['Level of Education'].unique()

array(['BS', 'MS', 'PhD'], dtype=object)

In [7]:
## Changing values to numerical data
d = {'Y':1, 'N':0}
df['Hired'] = df['Hired'].map(d)
df['Interned'] = df['Interned'].map(d)
df['Top-tier school'] = df['Top-tier school'].map(d)
df['Employed?'] = df['Employed?'].map(d)
# Level of Education
ld = {'BS':0, 'MS':1, 'PhD':2}
df['Level of Education'] = df['Level of Education'].map(ld)
df.head()

,Years Experience,Employed?,Previous employers,Level of Education,Top-tier school,Interned,Hired
0,10,1,4,0,0,0,1
1,0,0,0,0,1,1,1
2,7,0,6,0,0,0,0
3,2,1,1,1,1,0,1
4,20,0,2,2,1,0,0

In [9]:
# Separate features from target
features = df.drop('Hired', axis=1)
features

,Years Experience,Employed?,Previous employers,Level of Education,Top-tier school,Interned
0,10,1,4,0,0,0
1,0,0,0,0,1,1
2,7,0,6,0,0,0
3,2,1,1,1,1,0
4,20,0,2,2,1,0
5,0,0,0,2,1,1
6,5,1,2,1,0,1
7,3,0,1,0,0,1
8,15,1,5,0,0,0
9,0,0,0,0,0,0
10,1,0,1,2,1,0
11,4,1,1,0,0,1
12,0,0,0,2,1,0

In [13]:
Y = df.Hired
x = features

In [14]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(x, Y)

In [26]:
# Displaying the tree graphly
from IPython.display import Image
from six import StringIO
import pydot
from sklearn.tree import export_graphviz
import graphviz


dot_data = export_graphviz(
    clf,
    out_file=None,
    filled=True,
    rounded=True,
    feature_names=features.columns,
    class_names='Hired',
    max_depth=6
)
grafico = graphviz.Source(dot_data, format='png')
grafico.render("arvore_decisao_regras")
grafico